<div class="fix-width">
    <div id="p008">
        <div class="flex">
            <div class="flex-container">
                <h5>
                    A W<span class="h5-font-resize">IZARD</span><br>
                    B<span class="h5-font-resize">EHIND</span> B<span class="h5-font-resize">ARS</span>
                </h5>
                <p class="subhead">Not so tough now, are you, grue?” chuckled the thug.</p>
                <p>Rami was glad, in that moment, that they couldn’t see her smile. She dug a fang into the inside of
                    her cheek, spat out the resultant glob of blood, and clambered back to her feet.</p>
                <p>“What can I say? You’ve got a good arm there.”</p>
                <p>He grinned and flexed a little, puffing out his chest like some kind of damn Sepulcher Knight. “So?
                    You gonna give the old man his map back then? Or do I got to hit you again?”</p>
                <p>Rami knew that this small prison, tucked away in the bowels of the Solar Citadel, held only two types
                    of prisoners: immensely powerful criminals apprehended by the Sepulcher Knights, and dumb thugs like
                    this one, who tried one too many times to escape their previous jail. Moreover, one of the few
                    things that might prompt an intervention from the bird-headed would be the death of a prisoner. She
                    would have to tread lightly; loosing the full force of her power against this fool could spoil her
                    eventual escape, or worse, cost her the map.</p>
                <p>And besides, it was much more fun if they thought they stood a chance. Rami muttered a word and
                    flicked her wrist, summoning a spectral hand to slap him full in the face. “Bold of you to assume
                    you can.”</p>
                <p>His smirk evaporated. “Oh, you’re real funny, grue, but you sure ain’t smart. You even know who the
                    old man is? He’s a Scale & Fang elite, they say. Got connections across the ‘verse.”</p>
                <p>Rami’s yellow eyes sparkled. “Why do you think I got myself locked up here with him? He might have
                    been an elite back in the day, but it didn’t exactly take long to… persuade him to part with this.”
                </p>
                <p>“You black-hearted wretch!” the thug shouted as he threw another clumsy hook.</p>
                <p>A few seconds later, he was sprawled out on the canteen floor and the rest of his gang were preparing
                    to pile in. Clearly the old man had never stopped making friends. Every lowlife in this place seemed
                    to have his back. Rami dug through her memory for a spell which didn't require material components.
                    Invisibility? No,</p>
            </div>
            <div class="flex-container">
                <p>that needs gum arabic. Silent image? Rami doubted her roughspun fatigues would count as fleece. Aha!
                    Sleep might do the trick: Rami reached for a pinch of sand—the Citadel’s floor held no shortage of
                    that—and started forming somatic components.</p>
                <p>
                    The faces of Rami's opponents exhibited a mixture of confusion and concern as she enchanted the
                    sand, then a brief flash of horror as the bewitched grains flew towards the corners of their eyes.
                    Within moments, a half-dozen of them had drifted off to sleep and collapsed in a pile. Rami sensed
                    her opening.
                    She darted forward, evading one thug and shoving another back with a gust of magical wind. One
                    managed to hit her with a thrown boot, but the glancing blow didn’t slow her dash toward the exit.
                </p>
                <p>To her shock, the door swung open and a trio of avia-ra wardens strode in, golden sunstaves ablaze
                    with radiant energy. Wordless, they set about the room, smiting prisoners left and right as if
                    putting down a full-scale riot. Which perhaps it was, in their view; this wasn’t the sort of dungeon
                    that usually inspired its inmates to rampage.</p>
                <p>As a brawl developed all around, the grue wizard skirted the edges, keeping out of the way as far as
                    possible and relying on her agility to evade any attacks that came her way. It seemed that no more
                    guards were coming, so if she could just slip past these three, freedom might still be on the cards.
                </p>
                <p>Cursing her lack of gum arabic, Rami drew on all the tricks she’d learned in her many years of
                    thievery. The well-lit canteen left no shadows for her to skulk through, and she could only avoid
                    notice for a scant few seconds before one of the wardens cut off her escape. The other prisoners,
                    armed only with plastic cutlery and futile rage, were quickly subdued, leaving Rami the last one
                    standing, backed into a corner. The coppery smell of the glowing sunstaves filled her nose.</p>
                <p>“Come on, feathers,” she hissed, “what’re you waiting for?” Though the answer was clear: she could
                    see glittering fire in their beady eyes. They were savoring their petty triumph. Switching gears to
                    plan B—fighting her way out—Rami bared her teeth and began forming somatic components...</p>
            </div>
        </div>
    </div>
    <div id="p009">
        <div id="p009-title" class="flex">
            <div class="marg-bottom-shrink-150 ">
                <img src="/modules/dark-matter-compendium/images/journals/p-009-a.webp" alt="">
            </div>

        </div>
        <div class="flex">

            <div class="flex-container marg-top-grow-100">
                <h3>The 'Verse</h3>
                <p>To a terrestrial adventurer, the scale of the galaxy can be mind-bending and a bit frightening. It
                    betrays
                    much of what their senses tell them: the land on which they walk is down, the sky is up, the sun
                    goes
                    from
                    east to west. The idea that “up” is in all directions, or that there is no constant “down,” or that
                    your
                    world is but a speck of the cosmic whole is antithetical to nearly everything they’ve ever learned.
                    However,
                    for those adventurers who can muster the courage to brave the starry skies, to strike out into the
                    unknown,
                    and to take their first bold steps into the night, untold treasures are there to be had. The galaxy
                    is
                    where
                    interstellar travelers spend their time, charting their way through the Black, the empty space
                    between
                    worlds. Facilitating their journeys are the maws, which (in conjunction with thei starships) allow
                    them
                    to
                    travel between stars and vast stretches of galaxy by jumping through the Void. From the markets on
                    the
                    maws
                    to the inner workings of their own ships, they’ll come across an endless array of magical
                    technology,
                    from
                    the simple blaster to the intricate Dark Matter drive. Equipment in hand, it is on them to find
                    purpose,
                    meaning, and potentially profit in the galaxy; there is a nearly endless amount of adventuring and
                    exploring
                    to be done, a wide variety of races and factions to engage with or work for, and plenty of deadly
                    hazards to
                    avoid.</p>
            </div>

            <div class="flex-container">
                <h2>The Galaxy</h2>
                <p>The Milky Way galaxy, located along the upper edge of the Virgo Supercluster, is a spiral galaxy
                    roughly
                    one
                    hundred thousand light years in diameter and nearly ten thousand light years thick. Collected within
                    this
                    massive, swirling disk of stars, planets, nebulae, and other celestial bodies are all of the
                    sentient
                    beings
                    known to exist in the universe. While most scholars assume that life, and indeed sentient life, must
                    exist
                    within galaxies beyond the borders of the Milky Way, such places are beyond the reach of even the
                    fastest
                    ships. For all intents and purposes, the beings that inhabit this galaxy are alone in the universe.
                </p>
                <p>Regardless of this fact, few, if any, creatures in this corner of the universe (often colloquially
                    shortened
                    to “the ’verse”) feel or will claim to be alone, at least on a galactic scale. Scattered amongst the
                    four
                    galactic quadrants are millions of life-bearing planets of all shapes and sizes, housing
                    quadrillions of
                    sentient beings. Dispersed between and around these worlds are millions of space stations,
                    satellites,
                    outposts, and lairs tucked into the recesses of every sizable asteroid and comet available. </p>
                <p>While many habitable worlds are either home to peoples which have yet to discover space flight or are
                    completely unaffiliated with galactic alliances, most discovered worlds belong to one of the
                    galactic
                    factions. These powerful federations, hegemonies, empires, and loose conglomerates span the ‘verse,
                    extending to their natural limit at the Galactic Frontier. Facilitating these massive alliances is
                    the
                    maw
                    network, a web-like series of immense, interconnected space stations spread in concentric rings
                    emanating
                    from the galactic core, which serve dual purposes as both communication relays and jump-stations.
                </p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div id="p010">

        <div class="flex">
            <div class="flex-container">
                <div><img src="/modules/dark-matter-compendium/images/journals/p-010-a.webp" alt=""></div>
                <div class="marg-top-grow-10">
                    <h4>The Black</h4>
                    <p>Despite the truly staggering number of stars, planets, and other celestial bodies in the galaxy,
                        they
                        altogether account for less than a fraction of a percent of its volume. Indeed, space is filled
                        with
                        an
                        unfathomable amount of empty nothingness. This featureless, cold, and lifeless vacuum is often
                        referred
                        to by spacers as “the Black.” It is truly ubiquitous, for every world in the ‘verse floats
                        within
                        it.
                    </p>
                    <p>The massive expanse of the Black is the single greatest challenge to all long-distance space
                        travel.
                        While travel between planets in a single star system is possible for slower vessels, to cross
                        even
                        the
                        shortest stretch of Black between habitable worlds without faster-than-light (FTL) travel takes
                        many
                        human lifetimes (and even a few elven lifetimes). Lack of air, food, water, and light means that
                        life
                        support systems are essential for any interstellar journey, and to find yourself stranded means
                        slow,
                        certain death (assuming a rogue burst of radiation or a stray asteroid doesn’t speed up the
                        process).
                        While powerful terrestrial mages can cross a planet with a wave of their hand and a magic word
                        or
                        two,
                        spells of that nature (such as teleport) don't penetrate far into the Black, nor can similar
                        spells
                        that
                        utilize planar travel.</p>
                    <h4>Dead Magic</h4>
                    <p>No obstacle in the Black is as perilous and impassable as Dead Magic Zones. In these areas, where
                        the
                        magic of the ‘verse has worn thin and ripped wholly asunder, no magic functions, including that
                        which
                        powers ships and drives Dark Matter engines. Navigation systems fail, life support fizzles out,
                        and
                        engines go silent. Finding oneself in one of these zones without a nonmagical means of escape is
                        truly a
                        death sentence. </p>
                    <p>Though Dead Magic Zones might appear fixed in place on a map, their boundaries are ever-shifting
                        and
                        churning; they warp, grow, shrink, separate, and merge, all seemingly at random. The largest
                        masses
                        of
                        dead magic appear largely static, but only on the scale of lifetimes.</p>
                </div>

            </div>
            <div class="flex-container">
                <p>Over millennia, through constant, imperceptible motions, they too move across
                    the ‘verse, swallowing some worlds and releasing others as they move.</p>
                <p>Worlds that lie deep within Dead Magic Zones are considered by many to be lost worlds, inaccessible
                    and
                    cut
                    off from the universe. The gnomish homeworld of Nebellion is one such world, and as a result,
                    gnomish
                    tinkers have developed marvels of science that function and power themselves without the use of
                    magic,
                    even
                    achieving Void-based FTL. To this day, a gnomish ship is the only means by which to penetrate into
                    Dead
                    Magic Zones and the primitive, magicless worlds within.
                </p>
                <h4>Sepulcher Star</h4>
                <p>Situated at the very center of the galaxy is a sight which has sparked transcendence, insanity, and
                    holy
                    crusades: the great Sepulcher Star. An utterly massive star—one which defies all logic in its
                    continued
                    existence—sits in a slow, orbiting dance with an equally large, tidally-locked black hole. While
                    exceptionally little is known about the star itself, the avia-ra (as well as several other groups)
                    claim
                    that it is the holiest site in the ‘verse; the avia-ra’s holy city, the Solar Citadel, orbits this
                    very
                    body. Many of their oldest scripts (which contain some of the first written lore in the galaxy)
                    state
                    that
                    at the center of the so-called Sepulcher Star sits the First God, the carver of the maws, the true
                    creator
                    of the stars (and of all creation), the Old Un.</p>
                <p>Indeed, sophisticated scans have verified that some structure exists in the core of the star: a
                    sepulcher
                    composed of incomprehensibly strong exotic metals that can withstand the perpetual inferno. But this
                    is
                    not
                    the star’s only mystery, for the Sepulcher Star is far too massive to be as old as it is; by all
                    rights,
                    it
                    should have burnt out billions of years ago under its own mass. As its orbit closes in on The Core’s
                    black
                    hole, it sheds even more mass, and yet continues to survive. Within a few hundred thousand years,
                    however,
                    the star is likely to be consumed by the black hole altogether.</p>
                <p>The fact that the Knights of the Sepulcher, as well as other individuals, can draw magical power
                    through
                    the
                    colossal star also lends some credence to its power. That the Sepulcher Star contains something of
                    immense
                    might is unquestionable, but the nature of what dwells within the star is completely mysterious.
                    Perhaps
                    Old
                    Un is a being of light and creation, retired in its venerable age to rest within the star, or maybe
                    Un
                    is a
                    malicious creature of the Void, or an Old God of the Far Realm, imprisoned within the star until the
                    universe’s end. Or perhaps the truth is stranger still; all that is known for certain is that Un is
                    powerful
                    and inexorably ancient</p>
            </div>

        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div id="p011" class="flex">
        <!-- <div class="img-container">
                <img src="/modules/dark-matter-compendium/images/journals/p-011-a.webp" alt="">
            </div> -->
        <div class="flex-container padding-top">
            <h4>The Maws</h4>
            <div class="txt-img-flo">
                <p>Were it not for the maws, galactic civilization</p>
                <p>couldn't exist on the grand scale that</p>
                <p>it currently does. These massive,</p>
                <p>antediluvian bones are the remnants of</p>
                <p>some colossal and long-extinct breed</p>
                <p>of voidbeast, reinforced with ancient</p>
                <p>machinery and clutching a massive</p>
                <p>portal into the Void within their jaws</p>
                <p>(hence the name). These portals are</p>
                <p>linked to one another in a network,</p>
                <p>allowing space travelers to perform</p>
                <p>perfectly-controlled jumps between the</p>
                <p>maws, crossing the ‘verse with ease.</p>
                <p>No one is completely certain how</p>
                <p>the maws work, or who originally</p>
                <p>constructed them, but they have</p>
                <p>nonetheless become the backbone</p>
                <p>of galactic trade.</p>
                <p>Discovering the maws</p>
                <p>was a catalyst for the rapid</p>
                <p>expansion and colonization</p>
                <p>of the galaxy thousands of years</p>
                <p>ago, and their importance hasn't</p>
                <p>lessened since. Acting as a rapid transit</p>
                <p>network for ships, which can cross</p>
                <p>the galaxy in mere days, the</p>
                <p>maw stations connect</p>
                <p>the galactic empires,</p>
                <p>act as a neutral meeting</p>
                <p>ground for intrepid travelers,</p>
                <p>and form the cornerstone of</p>
                <p>galactic trade. Each maw station</p>
                <p>is a vibrant, multicultural trade</p>
                <p>city and spaceport, playing</p>
                <p>host to creatures of all sizes</p>
                <p>and shapes from across the</p>
                <p>‘verse. If something is to</p>
                <p>be bought or sold (legally</p>
                <p>or illegally), it is likely to</p>
                <p>be found on a maw.</p>
            </div>
        </div>
    </div>
    <div id="p012">
        <div class="flex">
            <div class="flex-container">
                <div>
                    <p>Unlike most outposts in the galaxy, the maws are uniformly neutral. All beings, even those from
                        far-off planes of existence, are welcome to traverse the stations freely, without fear of
                        reprisal.
                        Demons and angels may be found sharing tables in taverns, chaos beasts can be found haggling
                        with
                        contract keepers from the Plane of Law over shipping manifests, and the bitterest of rival races
                        may
                        hammer out treaties between their peoples in the main courts. Maintaining this peace and
                        neutrality
                        are two unique groups: the amoeboids, a caretaker race of vaguely humanoid, translucent oozes
                        native
                        to the maws, and the Order of the Sepulcher, a relatively new organization of peacekeepers.</p>
                    <p>Though the elves were the first humanoid race to discover and use the maws for their intended
                        purpose, their creation and creator are shrouded in mystery. Only a few pieces of that mystery
                        have
                        been uncovered, the most prominent being the amoeboids themselves. Given that they are the only
                        creatures native to the maws, they seem to be tasked with the continued upkeep and maintenance
                        of
                        the stations, and are especially apt to do so. However </p>
                </div>
                <div class="inset-box">
                    <h4>Dimensions and Planes</h4>
                    <p>Even though the universe of Dark Matter is filled with strange and fascinating worlds, it is
                        still
                        possible to find oneself on the Elemental Plane of Fire or swimming in the Ethereal Plane. The
                        various planes of existence can be thought of as alternate dimensions, different layers of the
                        dimension that makes up reality. Some of these planes, like the Elemental Planes, can be
                        accessed
                        from anywhere, whereas others, like demiplanes and planes related to the afterlives of specific
                        faiths, can only be accessed from certain parts of the universe, on certain worlds, or if other
                        special requirements are met.</p>
                    <p>The universe of Dark Matter also introduces the Void, a dimensionless realm beyond and between
                        all
                        the other planes. It can be useful to think about the Void as being a baseline dimension; it
                        represents what’s left over when all the other layers of reality have been stripped away,
                        leaving
                        nothing, not even space or time.</p>
                    <p>Generally, it is impossible to use spells like plane shift for an interplanar shortcut across the
                        universe, but the Void provides a unique exception. However, void jumps are only possible on the
                        Material Plane; the void crystals which power them are dangerously unstable and will
                        spontaneously
                        collapse if brought to another plane </p>
                </div>
            </div>
            <div class="flex-container">
                <p>the amoeboids' histories contain no record of their origins, or indeed, on the origins of the maws.
                </p>
                <p>Galactic Frontier. There is but one exception to the maw network’s absolute connectivity: the links
                    to
                    the outermost ring of stations are one-way, allowing transit out to this outer-edge of the galaxy,
                    but
                    not back. Moreover, the outer ring itself enjoys only intermittent connectivity between stations,
                    with
                    an almost 25% chance for a failed jump between outer maws. As such, this far- removed swath of
                    space,
                    called the Galactic Frontier, is as unexplored as it is lawless.</p>
                <h4>The Void</h4>
                <p>At its heart, the universe seems to be built on the incomprehensible. Through different lenses,
                    wizards,
                    engineers, alchemists, and scientists all struggle to understand its fundamental mysteries, but
                    nothing
                    exposes their ignorance more so than the Void.</p>
                <p>The Void is not a plane of existence like the Material or Elemental planes; in fact, it is very much
                    their opposite. The Void represents the space between planes, the absence of everything, containing
                    nothing—not sound, nor space, nor time. It isn't just dark, but completely dimensionless; an
                    infinite
                    pinpoint adjacent to every point in reality.</p>
                <p>By entering the Void and traveling through it, ships can leap vast distances in the blink of an eye.
                    In
                    such a process, called a Void Jump, ships are warped to an infinitesimal size for the briefest
                    possible
                    time, from which they can take a step in any direction and hop across the universe. Greater jumps
                    require more energy, but allow longer steps from the Void through the 'verse; doing so, of course,
                    is
                    extremely perilous.</p>
                <p>Paradoxically, the Void is filled with streams of hideous lights, which filter in from the most
                    gravitationally extreme parts of all other universes and planes of existence. Because the Void has
                    no
                    substance and is adjacent to all possible realities, only the most energetic radiation passes into
                    it,
                    all of which is antithetical to living things. Any creature exposed to the Void is irrevocably
                    changed,
                    hideously mutated in a process called "the warp." To avoid such a fate, most pilots jump blind from
                    behind protective blast shields, relying only on tenuous magical navigation. Even technological
                    assists
                    fail and are burned out in the Void; unless protected beneath a thick, metallic hull, nothing
                    withstands
                    its ravages for long.</p>
                <p>It is exceptionally difficult to access the Void from the confines of planetary gravity, making
                    in-atmosphere void jumps all but impossible
            </div>
            </p>
        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div id="p013" class="pad-top">
        <div class="flex">
            <div class="flex-container">
                <h4>Roaches</h4>
                <p>Ocoulori Radavitis, known to many as “roaches,” are 10-legged psychic insectoid creatures between 2
                    and 6
                    inches long. On their homeworld, prior to the advent of spaceflight, Roaches were considered a
                    particularly insidious form of pest, able to leverage their psychic, possibly even precognitive,
                    abilities to avoid extermination. However, since their discovery by interstellar explorers, they
                    have
                    become the single-most valuable commodity in the ‘verse.</p>
                <p>When most humanoids eat a live roach, a mind-expanding wave of euphoria and vivid hallucinations,
                    known
                    as “the mists,” washes over them. Most roach users feel like they can see hidden dimensions of time
                    and
                    space in the mists, as if a curtain concealing the multiverse itself was pulled back and all its
                    secrets
                    were laid bare. However, this mind-altering sensation is fleeting and lasts only for a few short
                    minutes. Worse, it can be addictive and even psychologically damaging, especially with long-term
                    use.
                </p>
                <p>For unknown reasons, a pilot under the influence of these hallucinations is actually able to judge
                    the
                    length of a void jump and navigate it very close to its destination. This side-effect has made
                    roaches
                    invaluable for interstellar travel.</p>
                <p>Roaches can’t be bred in most places, even with good nutrition and habitats. Very few worlds, which
                    apparently lie along unseen intersections in the universe’s ley lines, can sustain roach life and
                    allow
                    for new roach broods. Roaches that are taken off-world promptly become infertile and normally die
                    after
                    about a year. Of course, only living roaches cause the mists, so trade of these creatures is
                    extremely
                    competitive. The crippling psychological addiction isn’t the only downside of eating live roaches.
                    Despite their size, roaches are weakly psychic, and can empathetically communicate simple ideas to
                    creatures around them.</p>
                <p>Strong emotions, like fear and affection, come across most vividly. It is probably some psychic
                    effect at
                    the moment</p>
                <div class="txt-img-flo">
                    <p>of their deaths that causes the mists, which explains</p>
                    <p>why alchemists have been unable to replicate it.</p>
                    <p>Regardless, more than one pilot has stopped</p>
                    <p>eating roaches—and willingly endured</p>
                    <p>the terrible withdrawal period—</p>
                    <p>simply because the pangs</p>
                    <p>of guilt had grown too</p>
                    <p>much to bear.</p>
                </div>
            </div>
            <div class="flex-container">
                <h2>Technology</h2>
                <p>The first bold steps toward galactic empires wouldn't have been possible without remarkable advances
                    in
                    techno- magical theory and application. While, for eons, powerful wizards and sorcerers have been
                    able
                    to alter the fabric of reality, gods have had total reign of their own planes of existence, and
                    demons,
                    dragons, and all manner of eldritch creatures have leveraged their arcane might to bend worlds to
                    their
                    will, the common person has always had little to no contact with the arcane or the fantastical.</p>
                <p>In this age of automatons, interstellar empires, and pan- galactic communication, however, nearly
                    everyone enjoys access to some form of enchantments, magics, or artifacts. Low level magics have
                    become
                    nearly as commonplace across the ‘verse as once were torches, pitchforks, and horses. While most
                    people
                    still can't banish a demon with the wave of their hand or rain fire down from the sky with a word,
                    most
                    have ready access to hardlight-projecting consoles, datapads which allow communication from one
                    planet
                    to another, healing apparatuses that work as well as any cleric, and other similar wondrous items.
                    Magic, as far as the ‘verse is concerned, is no longer at odds with technology: it has become
                    technology.</p>
                <h4>Magical Technology</h4>
                <p>Modern magical technology traces its lineage back to traditional magic items, which possess
                    incredible
                    arcane potential and wondrous self-recharging properties— benefits which are tempered only by the
                    fact
                    that their construction demands months of work from a master artisan and centuries of arcane
                    expertise
                    to devise. With the discovery and later exploitation of the galactic ley lines, the construction of
                    magic items became industrial: disposable, standardized, and cheap. At first, these processes
                    resulted
                    only in half-baked imitations of magic items, but soon, the face of modern magical technology began
                    to
                    develop. </p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div id="p014" class="pad-top">
        <div class="flex">
            <div class="flex-container">
                <p>A common element found across almost all arcane technology is arcane batteries—small, self-recharging
                    power sources, whose energy can be adapted to nearly any application, from producing bursts of laser
                    fire, to levitating objects, to creating holographic projections.</p>
                <p>Most of the time, the inner-workings of magical technology involves converting this power using a
                    circuit
                    of arcane components, such as abjurators, evocation shifters, illusiometers, somati-cyclers, and
                    conjuration processors. The end result is a finely-tuned magical effect, exactly duplicating the
                    efforts
                    of a skilled spellcaster (with some limitations), but requiring almost no skill on behalf of the
                    user.
                    This new style of item creation is driven as much by mundane artisans, scientists, and entrepreneurs
                    as
                    it is by wizards or sorcerers, which is reflected in their designs. After all, why spend weeks
                    hand-stitching a pair of winged boots when you can hook a couple mass-produced metal shells and a
                    levi-pulsor to an arcane battery and make a perfectly functional jetpack?</p>
                <h4>Dark Matter Engines</h4>
                <p>Easily the most integral part of any starship, a Dark Matter engine warps a ship and its crew through
                    the
                    Void, instantaneously compressing the ship to a pinpoint size for a fraction of a second and
                    teleporting
                    it light years through the universe. Such a process is called a void jump.</p>
                <p>Though often taken for granted, Dark Matter engines are the most fundamental invention on the
                    galactic
                    stage. Without them, crossing the Black to maintain interstellar trade, establishing inter-system
                    colonies, or even just exploring the galactic neighborhood would be an insurmountable feat.
                    Civilizations which can’t unlock the engine’s secrets never take more than a few steps outside their
                    homeworlds, whereas those which discover it are greeted by the galactic community at large. Indeed,
                    if
                    the elves were not the first to discover the engine, the shape of the ‘verse would likely be very
                    different today.</p>
                <p>Each Dark Matter engine is fueled by a small amount of void crystal, which is harvested from black
                    holes.
                    The crystals, condensates formed from the particles orbiting at the event horizon, are extremely
                    unstable, and much of the Dark Matter engine itself is dedicated to insulating its crystal from any
                    shock or disturbance.</p>
                <p>Though the engine’s power is normally generated in intense bursts for void jumps, even while passive,
                    it
                    creates a steady stream of arcane energy, which is funneled into various systems throughout a
                    starship.
                    The engine can never be shut down completely; it is merely put on standby, for otherwise its void
                    crystal would rapidly destabilize and destroy the entire ship.</p>
            </div>
            <div class="flex-container">
                <h4>Ships</h4>
                <p>As the primary method of transportation around the galaxy, the starship has become a ubiquitous part
                    of
                    interstellar life. At its simplest, a starship is comprised of four parts: some sort of hull, a life
                    support system, some form of cruising propulsion system, and a Dark Matter engine. That being said,
                    the
                    exact shapes, styles, and specifications of starships found in the ‘verse are nearly limitless, from
                    the
                    industrial, smoke-spewing orcish scrap- ships, to the graceful curves of gnomish corvettes, to the
                    hardy, angular hulls of dwarven freighters.</p>
                <p>Though they were confined to relatively short distances until the discovery of the Dark Matter
                    engine,
                    most of the ‘verse’s prominent races have a long history of dabbling in near-orbit or inter-system
                    travel. Early ships often combined the principles and designs of ocean-sailing vessels, primitive
                    gliders, and flying machines, and used levitation magic to achieve the desired effect. While these
                    early
                    ships couldn't perform the all-important void jump, they were fast enough to ferry their passengers
                    between their homeworlds and nearby planets or moons, laying the groundwork for future expansion
                    into
                    the stars.</p>
                <h4>Blasters</h4>
                <p>Somehow more pervasive than starships, blasters are go-to weapons for most everyone in the 'verse. At
                    its
                    most basic, a blaster is a handheld device with an arcane battery and a focus aperture, designed to
                    fire
                    a beam or “bolt” of energy when a trigger mechanism is pulled. Originally crafted in the profile of
                    a
                    hand crossbow without the limbs attached, the blaster quickly gained prominence as the premier
                    weapon
                    technology in the ‘verse: simple to understand, easy to use, and remarkably deadly, with the added
                    benefit of never needing to be reloaded.</p>
                <p>Far from the short-range prototypes first pioneered by dwarven inventors, blasters today come in a
                    dizzying array of shapes, styles, and functions, though there are clearly accepted favorites.
                    Moreover,
                    blaster technology has been adapted for ship use, allowing an enterprising captain to outfit their
                    vessel with entire batteries of guns.</p>
                <p>While the old standards of bows, axes, and swords are still fairly widespread (especially on less
                    advanced planets and among races, such as the Skathári, that favor traditional weapons), one would
                    be
                    hard-pressed to visit any settled world in the ‘verse and not find someone brandishing a blaster.
                    Adventurers might favor other, more eccentric weapons, such as the laser sword and rocket hammer,
                    but
                    they'd be mad not to have a magnus or repeater holstered at their side </p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div id="p015" class="pad-top">
        <div class="flex">
            <div class="flex-container">
                <h3>Adventuring <br>in the 'Verse </h3>
                <p>The boundaries of the ‘verse have always been pushed by intrepid galactic explorers and adventurers,
                    a
                    group
                    which always seems to be in high demand and short supply. Despite the sheer number of worlds that
                    have
                    been
                    mapped and colonized, there remains countless systems yet undiscovered and mysteries yet unsolved.
                    Anyone
                    that wishes to strike out into the ‘verse and make a name for themselves need only have a ship,
                    quick
                    wits,
                    and a boundless reservoir of daring.</p>
                <h2>Exploration</h2>
                <p>While much of the galaxy has been charted, cataloged, and colonized by one faction or another, there
                    is
                    by no
                    means a comprehensive map of the ‘verse. Unlike with terrestrial cartography, the features of the
                    galaxy
                    are
                    always in flux; as such, there is exceptional money to be made in providing up-to-date star charts
                    and
                    void
                    jump routes to the spacefaring community. The last thing a major shipping outfit needs is to deal
                    with
                    one
                    of their cargo ships unexpectedly jumping into the middle of a Dead Magic Zone while carrying a load
                    of
                    adamantine ore or a shipment of priceless artifacts.</p>
                <p>Similarly, planetary scans and surveys are an invaluable source of revenue for interstellar
                    adventurers.
                    The
                    continuing expansion of the galactic community requires a constant stream of new materials,
                    habitable
                    worlds, outpost-worthy systems, and other resources. Scans of newly discovered worlds can prove
                    invaluable
                </p>
                <div class="spacer"></div>
            </div>
            <div class="flex-container">
                <p>as being the first to discover a new world generally grants the discoverer right to claim ownership.
                    Of course, while any discoverer can stake a claim over a planet, only huge factions can defend their
                    claims, so most career scanners sell their data (and subsequent rights of territory) to larger
                    organizations.</p>
                <p>While perhaps less dangerous than surveying, making your career as a galactic cartographer or planet
                    scanner is by no means leisurely or safe. Not counting the numerous astronomical hazards they must
                    endure, a potential candidate must have a ship with an appropriately powerful Dark Matter engine and
                    all the required mapping and scanning equipment, especially if they plan to chart the</p>
                <p>Frontier. To that end, most scanners end up signing on with one of the many cartography companies and
                    firms scattered throughout the ‘verse, who provide ships, man power, and equipment in exchange for a
                    substantial cut of the discovery profits. Of these, the most expansive is Astrogations Inc.</p>
                <h2>Scavenging</h2>
                <p>For adventurers with more modest budgets, scavenging can provide a lucrative, if unreliable, source
                    of income and adventure. Due to the Black’s utter stillness, a wrecked ship (and the potentially
                    valuable components and cargo within) can remain pristine for hundreds of years without rusting or
                    wearing away. Navigating the derelict wreck of a star cruiser destroyed in some long- forgotten
                    battle can be a quick way to find a crate of valuable munitions, expensive blasters, or rare
                    minerals; of course, it can also mean getting attacked by husks, eaten by a spaceshark, or captured
                    by the wroth. Though </p>
            </div>
        </div>
        <img src="/modules/dark-matter-compendium/images/journals/p-015-a.webp" alt="">
    </div>
    <div id="p016" class="pad-top">
        <div class="flex">
            <div class="flex-container">
                <p>scavenging doesn't require an expensive ship, the best loot is often in dangerous areas of the
                    ‘verse—places that demand a nimble ship or one with substantial firepower.</p>
                <p>Moreover, the means to haul heavy or dangerous cargo is a necessity, as worthy scrap is often only
                    purchased by the ton and valuable cargo is often highly volatile. Similarly, scavengers can mount
                    terrestrial expeditions to newly discovered worlds or archaeological sites.</p>
                <p>Even in the era of galactic travel, the price of ancient and magical artifacts remains high,
                    especially among collectors who value old-world designs. On almost any station in the ‘verse,
                    aspiring dungeon delvers can find jobs that require grit, know-how, and the ability to disarm and
                    survive ancient deathtraps, in return for piles of treasure.</p>
                <p>Most jobs of this nature tend to be funded through private collectors, who provide a general map of a
                    given location, a basic stipend, and the promise of loot in return for the coveted bauble said to be
                    located within. Most often, scavengers hired to retrieve artifacts are required to provide their own
                    ship, arms, and necessary support, but in turn, the collector takes a smaller cut of the haul. The
                    major exceptions to this rule are the Artifactor teams of Drog, Dusset, & Durgen Acquisitions &
                    Trade, the largest and most well-funded relic traders in the ‘verse: well-equipped and generously
                    paid, Artifactors sign long contracts in exchange for their consistent retrievals and their
                    unwavering loyalty to DD&D.</p>
                <h2>Mercenary Work</h2>
                <p>For those who have no explicit desire for exploration or excavation, there is mercenary work, the
                    time-honored tradition of shooting people and getting paid for it. Since the early days of rapid
                    galactic expansion, the need for paid soldiers, body guards, thugs, and other forms of muscle has
                    been a bloody constant. In the most wartorn areas of the ‘verse, especially at the borders of the
                </p>
                <p>Warzone, there is always a place for a grizzled ex-soldier looking to ply their trade, a hungry
                    warmage looking to prove themselves, or a skilled assassin eager to put a high- profile notch on
                    their blade.</p>
                <p>Coupled with this is the near ubiquitous presence of bounty hunters. While the galaxy isn't without
                    universal laws, most areas of jurisdiction are limited to specific regions of space. Sanctioned and
                    licensed bounty hunters can bypass many of these restrictions, tracking criminals and wanted targets
                    into neighboring systems, isolated planets, or even into the lawless Frontier.
            </div>
            </p>
            <div class="flex-container">
                <p>Finding mercenary work is generally an easy feat for anyone that looks tough and can point a blaster
                    in the right direction. However, securing a position with a well-known mercenary company can be much
                    trickier, as the best companies only accept the smartest and toughest hired guns available. Gaining
                    a position within such a unit requires a reputation of being loyal and highly skilled, and proving
                    that track record over a number of jobs.</p>
                <p>Likewise, becoming a bounty hunter isn’t terribly difficult, but the particulars of obtaining
                    licenses can be daunting. Generally, working within a given jurisdiction requires bounty hunters to
                    pass licensing exams, demonstrating that they understand the languages of the given area and the
                    laws that govern it. This can be a difficult task, as laws and languages vary from planet to planet.
                    Of course, a potential bounty hunter can simply choose to operate illegally and under the radar, but
                    doing so runs afoul of both the law and more legitimate bounty hunters, sometimes ironically
                    resulting in bounty hunters pursuing their illegal rivals.</p>
                <h2>Spacing</h2>
                <p>For most adventurers in the ‘verse, spacing is a means to an end—a way to get from one job to the
                    next. For dedicated spacers who make their living flying between the stars, the ship is both the
                    means and the end. In even greater demand than hired muscle, shipping crews form the backbone of
                    galactic society, ferrying goods, people, and services of all sorts between ports of call across the
                    ‘verse.</p>
                <p>Even short journeys through the Black require a competent crew to man the ship: captains, pilots,
                    astrogators, gunners, defense personnel, medics, cooks, engineers, and many other roles are
                    necessary to bring the largest ships to life. Adventurers of almost any background and skill-set can
                    find a position working on a ship, even for one-time jobs. Such positions might not pay as well as
                    other jobs, but they are discreet and dependable.</p>
                <p>Regardless of their actual occupation, most adventurers spend as much time aboard a ship as a
                    dedicated spacer. In fact, the downtime of more exciting jobs, such as military service,
                    body-guarding, and exploration is practically identical to generic spacing work, so many recruits
                    are expected to have some prerequisite experience on a shipping or trading vessel. It is on these
                    all-purpose spacing jobs where most intrepid adventurers have their first run-ins with the myriad
                    dangers of the ‘verse, where they cut their teeth on heroism, and where they hone their skills.
            </div>
            </p>
        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div id="p017" class="pad-top">
        <div class="flex">
            <div class="flex-container">
                <h3>Races in the 'Verse</h3>
                <p>Many humanoid races can be found on isolated worlds throughout the galaxy, which themselves look like
                    a microcosm of the galactic community, with elves, dwarves, humans, halflings, and others sharing a
                    single planet. Of course, it would be absurd for so many diverse races to develop on the same world;
                    all these humanoids can trace their origins to different systems among the stars. In some cases,
                    seeding new worlds with humanoids is a deliberate experiment or colonization effort, but most often,
                    isolated populations of humanoids are the result of miscalculations in navigation or mistakes of
                    teleportation magic.</p>
                <h2>Amoeboids</h2>
                <p>Amorphous, bizarre, and remarkably advanced, amoeboids are the very definition of alien. Encountering
                    them is practically dizzying for first-time visitors to a maw: their eerily transparent bodies flash
                    with dim organic lights, shapeshifting into vague forms and imperfect copies of various creatures,
                    all accompanied by a strange hum of blurbles and tones. Though the universe excels in producing
                    creatures of diverse shapes and sizes, the amoeboids are something truly unique.</p>
                <p>Moreover, amoeboids are gifted with exceptional intelligence, and many possess a natural talent with
                    machines. They were among the first space-bound races (the first, if one considers their origin),
                    and remain pioneers in Dark Matter technology. Most amoeboids</p>
                <div class="txt-img-flo">
                    <p>place tremendous faith in scientific</p>
                    <p>reasoning, to the extent that a sound</p>
                    <p>statistical model will often be more</p>
                    <p>convincing than reported events.</p>
                    <p>This, of course, extends to</p>
                    <p>magical research, and amoeboid</p>
                    <p>technology rests at the cutting-</p>
                    <p>edge intersection of science and</p>
                    <p>arcana.</p>
                    <p>Such unique humanoids</p>
                    <p>ought to come from an equally</p>
                    <p>unique homeworld, but this</p>
                    <p>is not the case; amoeboids</p>
                    <p>were simply discovered on the</p>
                    <p>maws. Some speculate that the</p>
                    <p>amoeboids evolved there among</p>
                    <p>the advanced technology, but</p>
                    <p>just as many support the theory</p>
                    <p>that amoeboids were designed</p>
                    <p>and purposefully placed on the</p>
                    <p>maws.</p>
                </div>
            </div>
            <div class="flex-container">
                <h4>The Grand Mystery</h4>
                <p>The universe has no shortage of mysteries and enigmas, but scholars have long agreed that the origin
                    of the maws, and how the amoeboids came to inhabit them, is the Grand Mystery. After all, nothing so
                    fantastic could be a mere coincidence; the maws are a ready-made transit network, connecting the far
                    reaches of the galaxy, complete with a resident race of shapeshifters intelligent enough to
                    understand them and skilled enough to maintain them. Indeed, most races would likely have never
                    discovered Dark Matter technology without observing the maw stations firsthand. Every technological
                    discovery is built on the shoulders of giants, but in this case, the giants have gone mysteriously
                    absent.</p>
                <p>More perplexing is that the maws are not merely technological in nature; they are constructed atop
                    colossal skeletons of long-dead creatures. The bones themselves seem critically important, for it is
                    impossible to create a stable maw portal without them, but what role they play is completely
                    baffling to researchers. Moreover, it’s unclear what type of creature left the bones, for nothing
                    alive today even remotely resembles them. Are these creatures extinct, or simply yet undiscovered?
                    Do they originate from inside the galaxy, or even from within our universe?</p>
                <p>For their part, the amoeboids have few answers to the Grand Mystery; their origins are as inscrutable
                    to them as anyone else. The earliest amoeboid records date to the first instances of amoeboids</p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div class="p018">
        <div class="flex">
            <div class="flex-container">
                <p>learning how to interface with maw terminals and record data, perhaps a century after the supposed
                    “zero” generation. Before that is a short but impenetrable dark age stretching back to the
                    activation of the maws and obscuring their origin.</p>
                <p>It is in their nature to search for answers from a scientific frame of reference, but real evidence
                    has been elusive so far. Speculation points to Old Un being involved in the Mystery, but what role
                    he played is unclear. Perhaps the Grand Mystery has been intentionally obscured by a powerful
                    creator or creators, or perhaps all involved are missing some critical piece, some insight that
                    links the amoeboids, the maws, and their enigmatic creation.</p>
                <h4>Expanding the Compendium</h4>
                <p>Before most races mastered spaceflight and journeyed to the stars, the only records of amoeboids were
                    of bug-eyed visitors from another world, arriving by night in strange saucers to abduct livestock
                    and flash otherworldly lights.</p>
                <p>
                    Amoeboids were among the first to travel the stars (their ships derived from technology found on the
                    maws), and they did so with purely scientific intentions: every alien planet, star, nebula, and
                    creature they discover is studied, categorized, and detailed in a vast database of arcane terminals
                    called the Compendium. This single database, a collection of nearly everything known to them, is a
                    scientific marvel, a monument to all amoeboid achievement.
                    To this day, amoeboids are the only race that maintains a non-involvement policy in their visits to
                    other worlds, keeping their distance, observing remotely when possible, and experimenting only when
                    disturbance can be minimized. The sole exception to non-involvement is with spacefaring races that
                    have journeyed to the maws themselves; the amoeboids greet such groups as equals, and welcome them
                    with access to the galactic community.
                </p>
                <h2>Avia-Ra</h2>
                <p>The bird-headed avia-ra might almost be confused for humans from the neck down, but unlike the scores
                    of near- humans that pervade the galaxy, the avia-ra are unrelated to humanity. Hailing from Kemet,
                    a harsh, desert planet, crisscrossed by rivers and lakes, they have always known an appreciation for
                    the sun’s blessings and cruelties, which forms the backbone of their religion, inspires their arts
                    and sciences, and informs their view of the cosmos. Their dogma centers squarely on their deity and
                    holy star, the Sun Above, to which there can be no equal.</p>
                <p>When the avia-ra took their first tentative steps into spaceflight, however, their religion bent and
                    adapted to the </p>
            </div>
            <div class="flex-container">
                <p>wider universe in which they found themselves. Suddenly, their Sun Above was no longer Deshret, the
                    star around which their homeworld orbits, but a theoretical “true star” from which all stars,
                    including their own, derive meaning. It was centuries before they ventured to the center of the
                    galaxy and encountered what they consider the physical embodiment of the Sun Above: the Sepulcher
                    Star. </p>
                <p>In those days, the Sepulcher Star orbited much further from the black hole at the galactic core, and
                    it was definitively under elven control. The avia-ra soon learned from the elves that the Sepulcher
                    Star wasn't merely a star, but contained some sort of supermassive construct within. Though strictly
                    an academic curiosity to the elves, this discovery galvanized the avia-ra: in the heart of this
                    star, near the exact center of the galaxy, was their Sun Above. Over the next few centuries, the
                    avia-ra quietly bolstered and gathered their fleets in preparation for the First Crusade.</p>
                <p>This was the first of many Crusades, bloody battles between the avia-ra and the elves for control of
                    the center of the galaxy. Each crusade was punctuated with the signing of a treaty, a respite from
                    battle, and a consolidation of forces. Always, a surprise attack by one of the two sides reignited
                    the conflict anew. In the Third Crusade, the avia-ra constructed the massive Solar Citadel in orbit
                    around the Sepulcher Star—a holy city, built for the glory of the Sun Above and to deter elven
                    aggression. In short order, it was seized by an elven sneak attack; ever since, the Citadel has
                    become a flashpoint for conflict and a central focus for Crusades.</p>
                <h4>The Night Crusade</h4>
                <p>The most recent of these battles, called the Night Crusade, nearly saw the wholesale destruction of
                    the Elven Empire. The holy avia-ra fleet, known as the Congregation, captured the center of the
                    galaxy in a series of decisive victories and pushed the elves back to their home system. In this
                    moment, the balance of the galaxy was threatened, and the elves struck a bargain: in exchange for
                    their assistance, the elves would liberate the vect across their empire—a move which would
                    eventually pave the way for vect freedom across the ‘verse.</p>
                <p>The culmination of this deal was at the Battle of Alden’val, where the vect fleet turned the tide for
                    the elves, critically wounding the avia-ra’s flagship, The Prophet. The ensuing retreat made an
                    opening for the Elven Forest-Fleet, which encircled the Congregation, spelling the end of the
                    Crusade. The war ended with the signing of the Treaty Black, a document that quieted hostilities and
                    established the Order of the Sepulcher to safeguard against similar crises in the future.</p>
            </div>
        </div>
    </div>
    <div id="p019">
        <div class="flex">
            <div class="flex-container marg-top-grow-260">
                <h4>
                    Depths of<br>
                    Dogma
                </h4>
                <p class="spacer">To some, the avia-ra’s</p>
                <p class="spacer">captivating dogma, high</p>
                <p class="spacer">priesthood, and Congregation</p>
                <p class="spacer">warfleet represent a light and</p>
                <p class="spacer">peace in the ‘verse, but to others, it represents</p>
                <p class="spacer">a simmering kettle, just waiting to boil over.</p>
                <p>In the past, the avia-ra have found little success spreading the message of the Sun Above to the
                    established races of the 'verse. After all, their pantheons are extensive and integral to their
                    societies; a monotheistic god has little place among them. Instead, the avia-ra have turned to
                    primitive civilizations, especially those on undiscovered planets, with which to share their
                    message.</p>
                <p>The pattern for their evangelism is simple: build a civilization on an undeveloped world, founded on
                    the philosophy of their solar religion, reside with it long enough to ensure it leaves a lasting
                    legacy, and depart once again for the stars. In the avia-ra religion, all worship of the sun is
                    indirectly worship of the Sun Above, so any evolution their gods of light and flame take on with the
                    passing of centuries is inconsequential; they are still effigies of Old Un in the Sepulcher Star.
                </p>
                <p>This practice is controversial, to say the least. Many worlds have ancient tales of travelers from
                    other worlds, bringing with them the blessings of the Sun, and these depictions paint them much like
                    gods themselves.</p>
                <p>Humans, especially, have a sore spot for this sort of unfair proselytizing—High Terra was an early
                    target for avia-ra evangelists. Elves and dwarves hold their own pantheons as sacred, and condemn
                    avia-ra missionaries as a whole, but there is little that the galactic community can do, short of
                    inciting galactic war. Thus, avia-ra evangelism occupies an uncomfortable, but tolerated position in
                    the galaxy. </p>
            </div>
            <div class="flex-container marg-top-grow-260">
                <h2>Dwarves</h2>
                <p>Gruff, inventive, and stalwart, the dwarves of the ‘verse are nearly identical to those living
                    planetside. Despite spending most of their time in massive fleets of mining and war ships, star
                    dwarves are just as comfortable in the bowels of a mountain as their terrestrial brethren. Indeed,
                    the dwarves who make up the Galactic Dwarven Conclave know that the biggest and richest mountains to
                    be mined are, in fact, asteroids drifting aimlessly through the Black.</p>
                <p>While terrestrial dwarves deviate into distinct branches based on familial lines, star dwarves,
                    especially those from their homeworld of Jormund, take on traits which make them sturdier than their
                    terrestrial brethren. The high gravity of their homeworld strengthens their bones and ensures their
                    short, stocky stature, and a life spent doing industrial labor toughens their muscles into steel.
                </p>
                <p>Dwarven expansion into space took a somewhat different route than most, in that there was little in
                    the way of war or conquest. Ages before they discovered spaceflight, the dwarves had already founded
                    the beginnings of the Conclave, which drove the interests of their entire race forward under one
                    banner. When they began expanding out into the galaxy at large, they found that, although Jormund
                    was host to all manner of life, the surrounding systems were barren. What they lacked in
                    inhabitants, however, they made up for in mineral wealth. True to their nature, the dwarves turned
                    their skill, magic, and technology towards the mining of these planets, and converted the influx of
                    material into the largest mining and freighting fleet in the galaxy. To this day, no other
                    interstellar race can match the raw material wealth or manufacturing skill of the dwarves, a fact
                    which the Conclave would like to ensure </p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="/modules/dark-matter-compendium/images/journals/divider.webp" alt="">
    </div>
    <div id="p020">
        <div class="flex">
            <div class="flex-container">
                <h4>The Granite Throne</h4>
                <p>From the outside, Jormund, the second of three planets orbiting the star Jotun, seems like the least
                    likely place to find a thriving race of people: it is a desolate ball of rock, pockmarked with
                    craters, nearly devoid of atmosphere, and constantly blasted by radiation. Just below this stark
                    surface, though, Jormund teems with life, not the least of which are the dwarves themselves.</p>
                <p>The oldest dwarven records recall that Jormund once flourished with surface life. Eons ago, long
                    before the dwarves fashioned their first ships from mountains and rockets, a great cataclysm befell
                    the planet, forcing life on the planet to flee underground. The details of the old cataclysm are
                    lost to time, for conflicting stories tell of different disasters, from a war caused by the greed of
                    an ancient dwarven king, to the folly of an invention crafted by a mad blacksmith, to the poisonous
                    breath of a spiteful dragon which contaminated the skies.</p>
                <p>Despite being sequestered away under the surface, the subterranean dwarven cities are true marvels of
                    engineering. Their tunnels stretch deep into the planet </p>
            </div>
            <div class="flex-container">
                <div class="inset-box">
                    <h4>Star Dwarf</h4>
                    <p>Star dwarves hail from the dwarven homeworld of Jormund and its associated colonies. They are
                        tough and stout, with a low stature caused by the high gravity of their worlds. Living most of
                        their lives underground or inside ships, these dwarves are pale-skinned and often grow stark
                        white beards. Star dwarves are taught the principles of ship design and engineering from an
                        early age and are among the finest shipwrights in the ‘verse.</p>
                    <p>Star dwarves are a subrace of dwarves with the following statistics:</p>
                    <p><strong>Ability Score Increase</strong>. Your Strength score increases by 2.</p>
                    <p><strong>Speed</strong>. Your speed isn't reduced in high gravity or extreme gravity.</p>
                    <p><strong>Dwarven Engineering Training</strong>. You have proficiency with the Technology skill and
                        with ship maintenance tools </p>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div id="p021">
        <div class="flex" class="pad-top">
            <div class="flex-container">
                <p>some reaching nearly to its core. The highest cities, which reach the surface itself are full of
                    brisk winds and titanic granite stonework, while the lowest cities, nestled in artificially-cooled
                    pockets within molten rock, are humid places of stunning obsidian towers. Indeed, within its rocky
                    caverns and carved halls, the planet’s interior, called the <strong>Granite Throne</strong>, can
                    house nearly every
                    inhabitant of dwarven space. This becomes a requirement at least once a generation, as each dwarf
                    dedicated to the Conclave makes the journey home to elect two of their elders to supreme leadership,
                    that of the Matriarch and the Patriarch.</p>
                <h4>The Adamantine Fleet</h4>
                <p>Despite their peaceful expansion to the stars, dwarves retain every ounce of their legendary
                    ruggedness, their love of strong drink, and their fury in battle. Dwarven soldiers and smiths are
                    held in high regard across the ‘verse as potential mercenaries or crew members⁠—many even think
                    having a dwarf aboard is good luck. Dwarven spacecraft are praised just as highly: the Adamantine
                    Fleet may not be as large as the Hegemony Armada nor as swift as an Elven Forest-Fleet, but its
                    ships are nearly impossible to destroy. Coupled with the dwarven tendency to experiment with
                    explosives, even a single dwarven ship can make for an astonishingly frightening foe.</p>
                <h2>Elves</h2>
                <p>Among the oldest and longest-lived races in the ‘verse, elves were the first to harness their magical
                    skill to extend their reach to the stars above. Svelte, stately, and regal to a fault, elves often
                    view themselves as the true masters of the galaxy, a perspective which has sparked innumerable
                    conflicts in ages past. While they are not physically much different from terrestrial elves (save
                    for their tremendously long lifespans), elves of the ‘verse are often referred to as “Star Elves”
                    due to their wildly different outlook and their connection to the great stellar houses.</p>
                <p>Unlike the elven races of more isolated worlds, star elves are not split down genetic or racial
                    lines; rather, they have deliberately self-separated into fantastically prominent Great Houses, or
                    families, each of which claims sole residence of one of the planets in the elven home system. These
                    separate families modify themselves to assume the traits of traditional elven subraces. In this</p>
            </div>
            <div class="flex-container">
                <p>way, even though star elves long ago homogenized to a single appearance, every variation of elf can
                    still be found among their ranks. Their austere focus on house and family, while unifying, has also
                    led to notoriously strict traditions regarding naming, relationships, and procreation.</p>
                <h4>Rise of an Empire</h4>
                <p>Of all the major galactic alliances, the Elven Empire holds the largest territory. Hundreds of
                    life-bearing systems and thousands of planets live under their rule, each a mirror of the glory that
                    is the homeworld. While orderly, well maintained, and generally free of pirates and other
                    ne’erdo-wells, elven imperial space is often regarded as stifling and still dangerous for most
                    non-elven spacers.</p>
                <p>To those that cross into elven space, adherence to the law of the throne is paramount. While the
                    Elves of Etilion are celebrated as masterful negotiators and diplomats, they are also decried for
                    their iron-fisted rule and brutal censorship. The last thing any free spacer wishes on an enemy is a
                    trip to an elven prison colony.</p>
                <p>In a surprising turn, vect are allowed both complete autonomy and full citizenship on any world in
                    the empire, a lingering gesture of thanks for their support during the Night Crusade. It is not a
                    gift most vect take up fully, but it has generated much goodwill between the races since the war.
                </p>
                <h4>The Rite of Naming</h4>
                <p>All elves of the empire proper are born or reared on Uneara, second planet in the Etilion system.
                    During the first hundred years of their lives, “newborn” elves are taught the ways and traditions of
                    their people—educated in all manner of magic, sciences, art, combat, and other properly-elven
                    studies. In addition, they are rigorously tested and sorted into the elven Great House best suited
                    for their particular talents.</p>
                <p>By tradition, the Rite of Naming also adapts elves for their house by means of a series of powerful
                    transmutation spells. Ostensibly, these spells are meant only to imbue a physical change on the
                    elves’ skin, returning their appearances to the traditional elven ancestors from each of the Etilion
                    planets, but in practice, it helps cement elves into their houses for the rest of their days.
                </p>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div id="p022">
        <div class="flex">
            <div class="flex-container">
                <p><strong>High Elves</strong>. Those who display aptitude in the magical arts, rhetoric, and diplomacy,
                    in addition to exuding lordly manner, enter the great house Mala’Fiil, and may take up residence on
                    Deuxcator, third planet in the Etilion system. Deuxcator is the seat of power for the elven empire,
                    and all emperors and empresses of the empire have been of Great House Mala’Fiil. Furthermore,
                    Deuxcator is home to the Elven War College and is the center of the empire’s military might. Elves
                    in this house are normally referred to as High Elves.</p>
                <p><strong>Wood Elves</strong>. Those displaying scientific aptitude in addition to an inborn connection
                    to nature are named to Great House Molo’tak and are moved to Troisha, fourth </p>
            </div>

            <div class="flex-container">
                <p>planet in the Etilion system. Here, these Wood Elves are taught the secrets of growing and carving
                    the empire’s Forest-Fleet of tree-ships from colossal ironwood trees. While the empire has many
                    other worlds from which it supplies its fleet, the greatest of its shipyards is the whole of
                    Troisha.</p>
                <p><strong>Fey Elves</strong>. Elves talented in high magics and deemed to have a connection to the
                    Feywild, the realm from which elvenkind originated, are named to Great House Mere’gaal. Carto, sixth
                    planet in the Etilion system houses these Fey Elves and the empire's grand libraries and magical
                    vaults. While all star elves are naturally gifted in magic, the fey elves of Carto have the natural
                    advantage</p>
            </div>
        </div>
        <div class="flex inset-box">
            <div class="flex-container">
                <h4>Star Elf</h4>
                <p>Star elves are pristine, elegant creatures, hailing from the Etilion system. Though nearly identical
                    at birth, young star elves undergo a ritualistic Rite of Naming, which transmutes their bodies to
                    mimic the ancestral elven subraces: High Elves, Wood Elves, Fey Elves, and Drow. These subraces are
                    as follows:</p>
                <h4>Star High Elf</h4>
                <p>High elves are nearly identical to their terrestrial cousins and use the High Elf subrace.</p>
                <h4>Star Wood Elf</h4>
                <p>
                    Wood elves are foresters and craftsmen, responsible for growing titanic ironwood trees and shaping
                    them into living elven tree-ships.
                    <strong>Ability Score Increase</strong>. Your Wisdom score increases by 1.
                </p>
                <p><strong>Star Elf Weapon Training</strong>. You have proficiency with the laser halfsword, laser
                    sword, photonic lash, and swarm pistol.</p>
                <p><strong>Fleet Feet</strong>. Your base walking speed increases to 35 feet.</p>
                <p><strong>Ironwood Shipwright</strong>. You gain proficiency in the Piloting skill and with ship
                    maintenance tools.</p>
                <h4>Star Fey Elf</h4>
                <p>Mystics and arcanists, fey elves demonstrate a connection to the Feywild, the dimension of unbridled
                    magic from which elves originate.</p>
                <p><strong>Ability Score Increase</strong>. Your Intelligence score increases by 1.</p>
                <p><strong>Traditional Elf Weapon Training</strong>. You have proficiency with the longsword,
                    shortsword, shortbow, and longbow.</p>
                <p><strong>Academic Interest</strong>. You gain proficiency in your choice of Arcana, Data, or
                    Technology</p>
            </div>
            <div class="flex-container">
                <p><strong>Fey Arcana</strong>. You know the minor illusion cantrip. When you reach 3rd level, you can
                    cast the faerie fire spell once with this trait and regain the ability to do so when you finish a
                    long rest. When you reach 5th level, you can cast the misty step spell once with this trait and
                    regain the ability to do so when you finish a long rest. Charisma is your spellcasting ability for
                    these spells.</p>
                <h4>Star Drow</h4>
                <p>Spymasters for the Elven Empire, drow are trained in all manner of subtlety and subterfuge.</p>
                <p><strong>Ability Score Increase</strong>. Your Charisma score increases by 1.</p>
                <p><strong>Star Elf Weapon Training</strong>. You have proficiency with the laser halfsword, laser
                    sword, photonic lash, and swarm pistol.</p>
                <p><strong>Nocturnal Vision</strong>. Your drow eyes are accustomed to the dark planet, Siink. Your
                    darkvision has a radius of 90 feet. However, you have disadvantage on Wisdom (Perception) checks
                    that rely on sight while you are in bright light.</p>
                <p><strong>Covert</strong>. When you are hidden and a creature discovers you with a successful Wisdom
                    (Perception) check, you can reattempt your Dexterity (Stealth) check to hide. On a success, you
                    silently reposition yourself and the creature does not notice you. Once you use this trait, you
                    can’t use it again until you finish a short or long rest.</p>
                <p><strong>Drow Subtlety</strong>. Whenever you are hiding, concealing a weapon, or attempting any other
                    action which is contested by a creature’s passive Perception score, you can subtract 5 from their
                    score.</p>
                <h4>Houseless</h4>
                <p>Houseless elves, which do not undergo the Rite of Naming, are considered half-elves and use those
                    statistics </p>
            </div>
        </div>
    </div>
    <div id="p023" class="mrg-b-20">
        <div class="spacer"></div>
        <div class="flex">
            <div class="flex-container">
                <div class="txt-img-flo">
                    <p>of living on a homeworld that</p>
                    <p>directly intersects a galactic ley line,</p>
                    <p>greatly enhancing their powers.</p>
                </div>
                <p><strong>Drow</strong>. Lastly, those who exhibit a talent for subterfuge, stealth, and shadow magics
                    are named to Great House Miri’tesh, and given home on Siink, the ninth and furthest planet from the
                    Etilion sun. The Rite of Naming induces incredible changes in elves of House Miri’tesh, pigmenting
                    their skin to blue, purple, or shades of grey, and bleaching their hair to ivory white. Outside
                    elven space, most refer to them as Drow, though that name carries no meaning in the empire. The dark
                    elves of Miri’tesh serve as the empire’s spymasters, assassins, and shock troopers, as well as deep
                    space exploration and tracking experts.</p>
                <p><strong>Houseless</strong>. Despite the total commitment expected of each and every elf to the Empire
                    and their house, there are those who choose to </p>
            </div>
            <div class="flex-container">
                <p>never undergo the Rite of Naming. In the end, the same fate lies in store for each: total servitude
                    to the other houses as a Houseless, exile from elven space if their servitude is not absolute, and
                    death if exile is refused.</p>
                <p>Due to the strictness of the House system, breeding amongst the elves is a highly controlled affair.
                    New elves may only be conceived and born on appropriate worlds in elven space, and must be
                    transported within 10 years of their birth to Uneara for schooling and assessment, lest they be cast
                    out. Children born outside these confines are either torn from their families and consigned as
                    Houseless or are purged from the empire; the same is true of half-elves and planetouched born in
                    elven space. Those isolated elves who are found native to a colonized elven world are sorted and
                    sent to their respective new homes for a minimum of 50 years before being integrated into star elf
                    society, or are purged if they refuse. </p>
            </div>
        </div>
    </div>
    <div id="p024">
        <div class="flex">
            <div class="flex-container">
                <h2>Gnomes</h2>
                <p>Unique amongst the galactic races, the star gnomes give the galaxy a glimpse of what can be achieved
                    without the crutch of magic. While fundamentally the same as terrestrial gnomes, star gnomes evolved
                    on a world deep within a Dead Magic Zone; as such, they propelled themselves to both space and to
                    galactic significance using technology alone, a testament to gnomish intellect and their boundless
                    curiosity.</p>
                <p>Indeed, most star gnomes today tend to be skeptical of magic and standoffish with magical races, or
                    at worst, hostile towards its practitioners. Few gnomes have come to accept magic as a part of daily
                    life, even with generations of experience, and most prefer to continue enhancing and refining their
                    technology.</p>
                <h4>A World Without Magic</h4>
                <p>While by no means a new race, the gnomes of Nebellion are one of the younger starfaring races. As
                    their world is isolated within a Dead Magic Zone, the gnomes came to rely on their own ingenuity,
                    instead of magical tricks, to cultivate their world. With time, gnomes developed an adept discipline
                    founded on logical reasoning and manipulating nonmagical forces, which they call science. This
                    science is the foundation of all gnomish technology, which is wholly independent from magic and can
                    function without hindrance in Dead Magic Zones.</p>
                <p>Naturally drawn to the underground, the gnomes transformed the caves and mountains of Nebellion into
                    grand, glittering cities, packed with mechanical marvels of every variety. Eventually, the great
                    spires of the under- cities burst forth from the ground, and continued to grow like blades of grass
                    wrought from steel and glass; now, there is little of Nebellion’s surface that isn’t covered by
                    cityscape. While Nebellion’s environment hasn't suffered with the gnome’s expansion (freedom from
                    reliance on burnable fuels being an early accomplishment of gnome tinkers), living space has become
                    a premium. It was a search for this resource that led to their expansion into the stars.</p>
                <h4>The Silver Disc</h4>
                <p>Remarkably, nearly two decades before the gnomes first launched into space, they discovered that they
                    had not been the first intelligent life on their homeworld. Embedded deep below the surface of
                    Nebellion, gnomish explorers discovered what appeared to be a city-sized disc made of unknown
                    metals, filled not with scientific marvels, but nonfunctional arcane devices. They also discovered
                    the burnt-out remnants of a Dark Matter</p>
            </div>
            <div class="flex-container">
                <div class="inset-box">
                    <h4>Star Gnomes</h4>
                    <p>Star gnomes born aboard the Flotilla or on Nebillion are consistently gifted scientists and
                        engineers, with an inborn eye for details and a knack for innovation.</p>
                    <p><strong>Ability Score Increase</strong>. Your Constitution score increases by 1.</p>
                    <p><strong>Retro Technology</strong>. Whenever you make an Intelligence (Technology) check to
                        identify old magical technology, you can add twice your proficiency bonus, instead of any
                        proficiency bonus you normally apply.</p>
                    <p><strong>Engineer</strong>. You gain proficiency with circuitry kits. Using this kit, you can
                        spend 1 hour and 10 gp worth of materials to construct an improvised piece of magical
                        technology. You can build a flashlight, a comm set, or an igniter. The device ceases to function
                        after 24 hours (unless you spend 1 hour repairing it to keep the device functioning), or when
                        you use your action to dismantle it; at that time, you can reclaim the materials used to create
                        it. You can have one improvised device at a time </p>
                </div>
                <p>fact that most of the enchanted objects (including those which seem to be recordings or record
                    keepers) located on the vessel were intact, years of testing yielded no results; no form of gnomish
                    power could cause them to spring to life, and even re-introduction to magic outside the Dead Magic
                    Zone proved fruitless. To this day, it remains a mystery as to who landed on Nebellion, how long ago
                    they landed, and how they traversed the Zone with such a vessel.</p>
                <p>What isn't a mystery is the effect the disc’s discovery had on gnomish society. Within fifteen years,
                    the Traversal Guild had managed to create a functioning, low-class Dark Matter engine powered by
                    fuel sources known to them. Five years later, they perfected the new technology and achieved
                    spaceflight. Within fifty years, the gnomes had breached the edges of the Zone, reached the maw
                    nearest to Nebellion, and discovered their place in the ‘verse. The whole of gnomish society
                    refocused their efforts, and in another 50 years’ time, the beginnings of the Great Gnomish Flotilla
                    launched from the Nebellion shipyards, carrying seventy-five percent of their population with it
                </p>
                <div class="spacer"></div>
            </div>
        </div>

    </div>
    <div id="p025">
        <div class="flex">
            <div class="flex-column">
                <h4>Thinkers and Tinkers</h4>
                <p>The Gnomish Flotilla is almost a million ships strong and houses almost half a trillion inhabitants.
                    Due to small gnomish stature, this suits most of the Flotilla’s inhabitants just fine. Indeed,
                    despite their massive numbers, the Flotilla could support a population twice its current size. The
                    gnomes live in an essentially post- scarcity society, and most devote their time and energy to
                    invention, exploration, artistic endeavors, or learning. Surprisingly few true adventurers come out
                    of either the Flotilla or of Nebellion proper, as gnomes tend to be risk-averse if they can afford
                    to be. Still, star gnomes are highly sought-after as ship’s engineers, pilots, and technologists,
                    and their tech is highly valued for its ability to function perfectly in Dead Magic Zones.</p>
                <p>The governing body of the star gnomes is split between the Council of Six on Nebellion and the
                    Admiralty of the Flotilla. The Council of Six rules as a democratically elected council comprised of
                    members from</p>
                <div class="txt-img-flo">
                    <p>each of the six guilds which have governed</p>
                    <p>the planet’s year-to-year workings for</p>
                    <p>centuries: The Craftsman’s Guild</p>
                </div>

            </div>
            <div class="flex-column">
                <p>(Mechanical and Technological works), The Mason’s Guild (Large Scale Construction works), the Baker’s
                    Guild (Agriculture and Sustainability works), The Traversal Guild (Exploration and Expansion
                    projects), The Windmill Guild (Power Efficiency and Generation projects), and The Artisan’s Guild
                    (Cultural projects and Artworks). Conversely, the Admiralty is governed by the Flotilla’s current
                    Admiral and his subordinate officers. Each ship in the flotilla is like an independent state: free
                    to do as its needs dictate, but still required to report to the Admiral when called.</p>
                <p>While not fully granted citizenship in either the Flotilla or on the Homeworld, most terrestrial
                    gnomes are viewed as star-crossed brethren by the star gnomes. Their natural inclination towards
                    spellcasting (particularly illusion magic) causes some star gnomes to view them with a modicum of
                    suspicion, but most realize that they too</p>
                <div class="txt-img-flo">
                    <p>would have gravitated towards such pursuits</p>
                    <p>had their world been accommodating.</p>
                </div>
            </div>
        </div>
        <!-- <div class="spacer"></div> -->
    </div>
</div>